.single-venue {
    display: inline-block;
    transition: 500ms ease-in-out;
}
  
.single-venue:after {
    display:block;
    content: '';
    width: inherit;
    border: solid 1px whitesmoke;  
    transform: scaleX(0);  
    transition: 500ms ease-in-out;
}
  
.single-venue:hover:after { 
    transform: scaleX(1);
    border: solid 1px #eed29bd3;
}

.single-venue:hover {
    color: #eed29b;
}

.single-ticket-btn{
    background-color: #97161D;
    border-radius: 7.5px;
    padding: 0 1rem 0 1rem; 
    border: 1px solid #ffffff3f;
    margin: .4rem 0 .4rem 0;
    transition: all 500ms ease-in-out;
}

.single-ticket-btn:hover{
    background-color: #eed29b;
    border: 1px solid #97161D;
    color: #97161D;
}

.single-show-container{
    border-radius: 15px;
    border: 1px solid #ffffff3f;
    box-shadow: 0 0 20px rgba(245, 245, 245, 0.271);
    overflow: hidden;
    width: 36rem;
    padding: .75rem 0 .75rem 0;
    justify-content: center;
    margin-bottom: 3rem;
}

@media screen and (max-width: 1024px) {
.single-show-container {
    border-radius: 15px;
    width: 23rem;
    padding: .5rem 0 .5rem 0;
    justify-content: center;
}
 }

 @media screen and (max-width: 1024px) {
    .single-ticket-btn {
        margin: .5rem 0 .25rem 0;
    }
     }