.landing-container {
  background-color:var(--red-color);
  -webkit-animation: fade-out 1s linear 5s both;
  animation: fade-out 1s linear 5s both;
}
/* md and lg  */
.logo {
    height:auto;
    animation: logo 4s linear both;
    -webkit-animation: logo 4s linear both;;
    filter: contrast(.8);
}

.line {
  color: var(--white-color);
  height: 1px;
  -webkit-animation: line-one  1s linear 3.25s both;
  animation: line-one  1s linear 3.25s both;
}

.kris-text {
  font-family: var(--impact);
  color: var(--white-color);
  -webkit-animation: logo-text 1.5s linear 3.5s both;
  animation: logo-text 1.5s linear 3.5s both;
}

.kurzawa-text {
  font-family: var(--impact);
  color: var(--yellow-color-two);
  -webkit-animation: logo-text 1.5s linear 3s both;
  animation: logo-text 1.5s linear 3s both;
}

.logo-text {
  -webkit-animation: logo-text 1.5s linear 3.5s both;
	        animation: logo-text 1.5s linear 3.5s both;
          color: var(--white-color);
}

.fade-out{
  height:auto;
  width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@-webkit-keyframes logo-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes logo-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes logo {
  from {
     width: 0; 
     opacity: 0;     
  }
  to {
    width: 30rem;
    opacity: 1;
  }
}

@keyframes logo {
  from {
     width: 0; 
     opacity: 0;     
  }
  to {
    width: 30rem;
    opacity: 1;
  }
}

@-webkit-keyframes line-one {
  from {
    width: 0;      
}
 to {
  width: 100%;
}
}

@keyframes line-one {
  from {
      width: 0;      
  }
   to {
    width: 100%;
  }
}

  

@-webkit-keyframes fade-out {
0% {
  opacity: 1;
}
100% {
  opacity: 0;
}
}
@keyframes fade-out {
0% {
  opacity: 1;
}
100% {
  opacity: 0;
}
}

/* sm */

.sm-logo {
  height:auto;
  -webkit-animation: sm-logo 6s linear both;
  animation: sm-logo 6s linear both;
}

.sm-line {
  color: var(--white-color);
  height: 1px;
  -webkit-animation: sm-line-one  1s linear 1.75s both;
  animation: sm-line-one  1s linear 1.75s both;
}

.sm-kris-text {
  font-family: var(--impact);
  -webkit-animation: sm-logo-text 1.5s linear 2s both;
          animation: sm-logo-text 1.5s linear 2s both;
          transition: 500ms linear;
          transform: scaleX(1);
          color: var(--white-color);
  }

  .sm-kurzawa-text {
    font-family: var(--impact);
    -webkit-animation: sm-logo-text 1.5s linear 1.5s both;
            animation: sm-logo-text 1.5s linear 1.5s both;
            color: var(--yellow-color-two);
    }

.sm-logo-text {
-webkit-animation: sm-logo-text 1.5s linear 2s both;
        animation: sm-logo-text 1.5s linear 2s both;
        color: var(--white-color);
}

.sm-fade-out{
height:auto;
width: 80vw;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-content: center;
}

@-webkit-keyframes sm-logo-text {
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}
@keyframes sm-logo-text {
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}

@-webkit-keyframes sm-logo {
0% {
   width: 0;   
   opacity: 0;   
}
50% {  
  opacity: 1;   
}
100% {
  width: 70rem;
}
}

@keyframes sm-logo {
0% {
    width: 0;   
    opacity: 0;   
}
50% {
  opacity: 1;   
}
 100% {
  width: 70rem;
}
}

@-webkit-keyframes sm-line-one {
  from {
    width: 0;      
}
 to {
  width: 100%;
}
}

@keyframes sm-line-one {
  from {
      width: 0;      
  }
   to {
    width: 100%;
  }
}