.bio-main-container {
    color: var(--white-color);
}

.section2,
.section1{
    border-radius: 15px;
    border: 1px solid var(--gray-color-one);
    box-shadow: 0 0 20px var(--gray-color-three);
    overflow: hidden;
    width: fit-content;
}

.gear-image {
    border-radius: 15px;
    border: 1px solid var(--gray-color-one);
    box-shadow: 0 0 20px var(--gray-color-three);
    overflow: hidden;
}

.bioGuitarPic {
    border-bottom: 2px solid var(--yellow-color-one);
}

.meat,
.gravy {
    transition: 500ms ease-in-out;
    width: fit-content;
}
  
.meat:after,
.gravy:after {
    display:block;
    content: '';
    border: solid 1px var(--white-color);  
    transform: scaleX(0);  
    transition: 500ms ease-in-out;
}
  
.meat:hover:after,
.gravy:hover:after { 
    transform: scaleX(1);
    border: solid 1px var(--yellow-color-two);
}

.meat:hover,
.gravy:hover {
    color: var(--yellow-color-two);
}