.section2,
.section1{
    border-radius: 15px;
    border: 1px solid #ffffff3f;
    box-shadow: 0 0 20px rgba(245, 245, 245, 0.271);
    overflow: hidden;
    width: fit-content;
}

.gear-image {
    border-radius: 15px;
    border: 1px solid #ffffff3f;
    box-shadow: 0 0 20px rgba(245, 245, 245, 0.271);
    overflow: hidden;
}

.bioGuitarPic {
    border-bottom: 2px solid #eed29bb1;
}

.meat,
.gravy {
    transition: 500ms ease-in-out;
    width: fit-content;
}
  
.meat:after,
.gravy:after {
    display:block;
    content: '';
    border: solid 1px whitesmoke;  
    transform: scaleX(0);  
    transition: 500ms ease-in-out;
}
  
.meat:hover:after,
.gravy:hover:after { 
    transform: scaleX(1);
    border: solid 1px #eed29bd3;
}

.meat:hover,
.gravy:hover {
    color: #eed29b;
}