.list{
    width: 100%;
    /* height: 50%; */
    position: absolute;
    bottom: -70%;
    left: 0;
    background: #fff;
    color: #080710;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-out;
    border-radius: 10px;
    z-index: 10;
}

.list.show {
bottom: 46%;
}

.list .header {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list .header i{
    font-size: 1.7rem;
}

.list .header > div{
    display: flex;
    align-items: center;
    gap: 5px
}

.list .header > div span{
    font-size: 1.25rem;
    text-transform: capitalize;
    color: #444;
}


.list ul{
    width: 100%;
    height: 250px;
    overflow-y: scroll;
}

.list ul::-webkit-scrollbar{
    width: 0px;
}
.list ul li{
    width: 100%;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid #99999987;
}

.list ul li:hover{
    background: hsla(38, 66%, 39%, 0.507);
    color: #080710;
}

.list ul li .row p{
    color: #080710;
    font-size: 0.85rem;
}

.list .duration{
    font-size: 0.9rem;
}

.list .playing{
    background-color: hsla(354, 76%, 34%, 0.902);
}

/* everything below this line is working */
.audio-image {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.album-cover-playing{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid #971522;
    outline: 2px solid #A67724;
    outline-offset: 2px;
    border-radius: 50%;
    animation: rotate 45s linear;
    animation-iteration-count: infinite;
    margin-bottom: 1rem;
    animation-play-state: running;
    padding: 2px;
}
.album-cover{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid #971522;
    outline: 2px solid #A67724;
    outline-offset: 2px;
    border-radius: 50%;
    animation: rotate 45s linear;
    animation-iteration-count: infinite;
    margin-bottom: 1rem;
    animation-play-state: paused;
    padding: 2px;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.text {
    text-align: center;
    padding-bottom: 10px;
}

.title {
    padding-bottom: 5px;
    font-size: 1.25rem;
}

.progress-container{
    height: auto;
    width: 300px;
    margin-top:30px;
    margin-bottom: 20px;
}

.progress {
    display: flex;
    align-items: center;
   
}

.current-time{
    padding-right: .4rem;
    font-size: small;
}

.time{
    padding-left: .4rem;
    font-size: small;
}
/* Input range - chrome and safari */

input[type="range"] {
    --range-progress: 0; 
    -webkit-appearance: none;
    position: relative;
    background:#ccc;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    cursor: pointer;
  }
  
  /* Input range - firefox */
  input[type="range"]::-moz-range-track {
    position: relative;
    background:#ccc;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    cursor: pointer;
  }
  
  /* played progress length - Chrome & safari*/
  input[type="range"]::before {
    content: '';
    height: 3px;
    background: #971522;
    width: var(--range-progress);
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  /* played progress length - firefox */
  input[type="range"]::-moz-range-progress {
    background: #971522;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    height: 3px;
  }
  
  /* slider thumb - chrome and safari */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    border: none;
    background-color: #A67724;
    cursor: grab;
    position: relative;
  }
  
  /* dragging thumb - chrome and safari */
  input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.2);
  }
  
  /* slider thumb - firefox */
  input[type="range"]::-moz-range-thumb {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #A67724;
    cursor: grab;
    /* border: transparent; */
    position: relative;
  }
  /* dragging thumb - firefox */
  input[type="range"]:active::-moz-range-thumb {
    transform: scale(1.2);
  }

.controls-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls{
    padding-bottom: 20px;
    margin: 5px;
    display: flex;

}

.controls button{
    font-size: 2rem;
    border:none;
    margin: 0 17px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #100607;
    color: whitesmoke;
}

#playPause {
    background-color: whitesmoke;
    border-radius: 50%;
    padding: 10px;
    justify-content: center;
    color: #100607;
    border: 2px solid #971522;
    outline: 2px solid #A67724;
    outline-offset: 2px;
    margin: 2px;
}

.volume {
    display: flex;
    width: 287px;
    align-items: center;
    margin-bottom: 20px;
    padding: .5rem;
}

.volume-icons{
    font-size: 1.75rem;
    border: none;
    display: flex;
    align-items: center;
    padding-right: .4rem;
    cursor: pointer;
    background-color: #100607;
    color: whitesmoke;
}

.volume-num {
    padding-left: .4rem;
}

@media screen and (max-width: 768px){
.volume {
    display: none;
}
.list.show {
    bottom: 40%;
    }
}
