.mainMusic {
  width: 360px;
  border-radius: 15px;
  border: 1px solid var(--gray-color-one);
  box-shadow: 0 0 20px var(--gray-color-three);
  overflow: hidden;
  display: flex;
  justify-content: center;
  color: var(--white-color);
  position: relative;
}

.mediumMainMusic {
  width: 460px;
  border-radius: 15px;
  border: 1px solid var(--gray-color-one);
  box-shadow: 0 0 20px var(--gray-color-three);
  overflow: hidden;
  display: flex;
  justify-content: center;
  color: var(--white-color);
  position: relative;
}

header {
  color: var(--white-color)
}

i{
  cursor:pointer;
  user-select: none;
}

ul {
  list-style: none;
}

input[type="range"]{
  -webkit-appearence: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--white-color);
  border-radius: 50px;
}

input[type="range"]::-webkit-slider-thumb{
  -webkit-appearence: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--orange-color);
  border-radius: 50px;
  cursor: grab;
  width: 10px;
  height: 10px;
}

.downloads {
  border-radius: 15px;
  border: 1px solid var(--gray-color-one);
  box-shadow: 0 0 20px  var(--gray-color-three);
  overflow: hidden;
  width: fit-content;
  transition: all 500ms ease-in-out;
}

.downloads:hover {
  box-shadow: 0 0 20px var(--gray-color-two);
  filter:saturate(2);
}
