.video-page-container {
    -webkit-animation: video-fade-in .5s linear both;
    animation: video-fade-in .5s linear both;
}
  
  @-webkit-keyframes video-fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes video-fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
.video-title,
.video-container {
    color: var(--white-color);
}

.video {
    border-radius: 15px;
    border: 1px solid var(--gray-color-one);
    box-shadow: 0 0 20px var(--gray-color-three);
    overflow: hidden;
}