.video-title,
.video-container {
    color: var(--white-color);
}

.video {
    border-radius: 15px;
    border: 1px solid var(--gray-color-one);
    box-shadow: 0 0 20px var(--gray-color-three);
    overflow: hidden;
}