.input:focus {
    outline:none;
    border: 1px solid #971522;
}

.input {
    border: 1px solid #ffffff3f;
    font-size: x-large;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-bottom: 1rem;
    border-radius: 7px;
    box-shadow: 0 0 20px rgba(245, 245, 245, 0.306);
    background-color: #100607;
    overflow: hidden;
    backdrop-filter: blur(3px);
    color:whitesmoke;
}

.input::placeholder {
    color: rgba(245, 245, 245, 0.709);
}

.kris {
    box-shadow: 0 0 20px rgba(245, 245, 245, 0.33);
    overflow: hidden;
    backdrop-filter: blur(3px);
    border-radius:15px;
    border: 1px solid #ffffff3f;
}

.submit-btn {
    border: 1px solid #ffffff3f;
    font-size: x-large;
    padding-left: .75rem;
    padding-right: .75rem;
    margin-bottom: 1rem;
    border-radius: 7px;
    box-shadow: 0 0 20px rgba(245, 245, 245, 0.306);
    background-color: #97161D;
    overflow: hidden;
    backdrop-filter: blur(3px);
    color:whitesmoke;
    text-align: center;
    transition: all 500ms ease-in-out;
}

.submit-btn:hover{
    background-color: #eed29b;
    border: 1px solid #97161D;
    color: #97161D;
}

@media screen and (max-width: 1024px) {
    .input {
        margin-bottom: .5rem;
    }
     }