.sly {
    border-radius: 15px;
    border: 1px solid #ffffff3f;
    box-shadow: 0 0 20px rgba(245, 245, 245, 0.271);
    overflow: hidden;
    backdrop-filter: blur(3px);
    transition: all 500ms ease-in-out;
}

.sly:hover {
    box-shadow: 0 0 20px rgba(245, 245, 245, 0.758);
    filter:saturate(2);
}

.singleVideo {
    border-radius: 15px;
    border: 1px solid #ffffff3f;
    box-shadow: 0 0 20px rgba(245, 245, 245, 0.271);
    overflow: hidden;
    backdrop-filter: blur(3px);
}
