.mainHome {
    color: var(--white-color);
    -webkit-animation: home-fade-in .5s linear both;
    animation: home-fade-in .5s linear both;
}
  
  @-webkit-keyframes home-fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @keyframes home-fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

.sly {
    border-radius: 15px;
    border: 1px solid var(--gray-color-one);
    box-shadow: 0 0 20px var(--gray-color-three);
    overflow: hidden;
    transition: all 500ms ease-in-out;
}

.sly:hover {
    box-shadow: 0 0 20px var(--gray-color-two);
    filter:saturate(2);
}

.singleVideo {
    border-radius: 15px;
    border: 1px solid var(--gray-color-one);
    box-shadow: 0 0 20px var(--gray-color-three);
    overflow: hidden;
}
