.nav-link {
    margin-left: 1.8em;
    display: inline-block;
    transition: 500ms ease-in-out;
}
  
.nav-link:after {
    display:block;
    content: '';
    width: inherit;
    border: solid 1px whitesmoke;  
    transform: scaleX(0);  
    transition: 500ms ease-in-out;
}
  
.nav-link:hover:after,
.small-nav-link:hover:after { 
    transform: scaleX(1);
    border: solid 1px #eed29bd3;
}

.nav-link:hover,
.small-nav-link:hover,
.nav-link:focus,
.small-nav-link:focus {
    color: #eed29b;
}
.small-nav-link{
    width:fit-content;
    padding: .5rem;
}

.small-nav-link:after {
    display:block;
    content: '';
    border: solid 1px #eed29bd3;  
    transform: scaleX(0);  
    transition: transform 500ms ease-in-out;
}
  
.large-icons,
.small-icons {
    width: fit-content;
    transition: all 500ms ease-in-out;
}

.large-icons:hover,
.small-icons:hover{
    color: #eed29b;
}

.dropdown{
    border-top: solid 1px #eed29bd3; 
}

.open-nav{
    height: 76vh;
    padding-top: 10%; 
    padding-bottom: 10%;
}

.navbar,
.navGuitarPic{
    border-bottom: 1px solid #eed29bb1;
    border-top: 1px solid #eed29bb1;
}

.hamburger-btn {
    border-right: 1px solid #eed29bb1;
    border-left: 1px solid #eed29bb1;
}