.navbar {
    border-top:1px solid var(--yellow-color);
    background-color: var(--red-color);
    color: var(--white-color)
}

.kk-header,
.kurzawa {
    font-family: var(--impact);
}

.kurzawa {
    color: var(--yellow-color-three);
}

.large-icons,
.small-icons {
    width: fit-content;
    transition: all 500ms ease-in-out;
}

.large-icons:hover,
.small-icons:hover{
    color: var(--yellow-color-two);
}

.navGuitarPic{
    border-bottom: 1px solid var(--yellow-color-one);
    border-top: 1px solid var(--yellow-color-one);
}

.nav-link {
    margin-left: 1.8em;
    display: inline-block;
    transition: 500ms ease-in-out;
}
  
.nav-link:after {
    display:block;
    content: '';
    width: inherit;
    border: solid 1px var(--white-color);  
    transform: scaleX(0);  
    transition: 500ms ease-in-out;
}
  
.nav-link:hover:after,
.small-nav-link:hover:after { 
    transform: scaleX(1);
    border: solid 1px var(--yellow-color-two);
}

.nav-link:hover,
.small-nav-link:hover,
.nav-link:focus,
.small-nav-link:focus {
    color: var(--yellow-color-two);
}
.small-nav-link{
    width:fit-content;
    padding: .5rem;
}

.small-nav-link:after {
    display:block;
    content: '';
    border: solid 1px var(--yellow-color-two);  
    transform: scaleX(0);  
    transition: transform 500ms ease-in-out;
}
  
.dropdown{
    border-color: var(--yellow-color-one); 
    background-color: var(--black-color);
}

.gca {
    border-bottom: solid 1px var(--yellow-color-one);
}

.open-nav{
    padding-top: 10%; 
    padding-bottom: 10%;
}

.hamburger-btn {
    border-right: 1px solid var(--yellow-color-one);
    border-left: 1px solid var(--yellow-color-one);
}