.nav-link {
    padding-left: 1.8em;
}

.dropdown{
    animation: show 1s ease-in-out forwards;
}

.navbar{
    border-bottom: 1px solid #eed29bb1;
    border-top: 1px solid #eed29bb1;
}
.navGuitarPic{
    border-bottom: 1px solid #eed29bb1;
    border-top: 1px solid #eed29bb1;
}

@media screen and (max-width: 1024px) {
    .navbar{
        border-bottom: 1px solid #eed29bb1;
        border-top: 1px solid #eed29bb1;
    }
    .navGuitarPic{
        border-bottom: 1px solid #eed29bb1;
        border-top: 1px solid #eed29bb1;
    }
     }