.footer{
    border-top: 1px solid #eed29bb1;
    border-bottom: 1px solid #eed29bb1;
}

.webdev-link {
    display: inline-block;
    transition: 500ms ease-in-out;
}
  
.webdev-link:after {
    display:block;
    content: '';
    width: inherit;
    border: solid .5px whitesmoke;  
    transform: scaleX(0);  
    transition: 500ms ease-in-out;
}
  
.webdev-link:hover:after { 
    transform: scaleX(1);
    border: solid .5px #eed29bd3; 
}

.webdev-link:hover{
    color: #eed29b;
}


@media screen and (max-width: 1024px) {
    .webdev-link:after {
        display:block;
        content: '';
        width: inherit;
        border: solid .5px whitesmoke;  
        transform: scaleX(0);  
        transition: 500ms ease-in-out;
    }
      
    .webdev-link:hover:after { 
        transform: scaleX(1);
    }
    
    .webdev-link:hover{
        color: whitesmoke;
    }
     }