.footer{
    border-top: 1px solid var(--yellow-color-one);
    border-bottom: 1px solid var(--yellow-color-one);
    background-color: var(--red-color);
    color: var(--white-color)
}

.webdev-link {
    display: inline-block;
    transition: 500ms ease-in-out;
}
  
.webdev-link:after {
    display:block;
    content: '';
    width: inherit;
    border: solid .5px var(--white-color);  
    transform: scaleX(0);  
    transition: 500ms ease-in-out;
}
  
.webdev-link:hover:after { 
    transform: scaleX(1);
    border: solid .5px var(--yellow-color-two); 
}

.webdev-link:hover{
    color: var(--yellow-color-two);
}


