.shapes {
    width: 360px;
     border-radius: 15px;
     position: relative;
  }
  
  .shape{
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
  }
  
  .shape-1{
    background: radial-gradient(circle at 35px 65px, #971522, #111);
    left: -65px;
    top: -65px;
  }
  
  .shape-2{
    background: radial-gradient(circle at 45px 90px, #a57522, #111);
    right: -65px;
    bottom:-65px;
  }
  
  .shape-3{
    width: 60px;
    height: 60px;
    background: #2E5F49;
    right: 7px;
    top: 10px;
    filter: blur(20px);
  }
  